<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/appHeader') %>
    <main>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <a href="/user/blogs/new" class="blogs--owner">Add Blog</a>
        <form class="blog-order">
          <h1 style="margin-bottom: 1rem; opacity: 0.5">Filter by</h1>
          <div style="display: flex; gap: 1rem">
            <div style="font-size: 1.5rem">
              <input type="radio" name="state" id="all" value="all" />
              <label for="all">All</label>
            </div>
            <div style="font-size: 1.5rem">
              <input type="radio" name="state" id="draft" value="draft" />
              <label for="draft">Drafts</label>
            </div>
            <div style="font-size: 1.5rem">
              <input
                type="radio"
                name="state"
                id="published"
                value="published"
              />
              <label for="published">Published</label>
            </div>
          </div>
        </form>
      </div>
      <section class="blogs">
        <table>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Read Count</th>
            <th>Tags</th>
            <th>Status</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
          <% if(blogs.length === 0) { %>
          <tr>
            <td colspan="5">No blogs found</td>
          </tr>
          <% } %> <% for (let blog of blogs) { %>
          <tr>
            <td>
              <a href="/user/blogs/<%= blog._id %>/details"
                ><%= blog.title %></a
              >
            </td>
            <td>
              <a href="/user/blogs/<%= blog._id %>/details"
                ><%= blog.description %></a
              >
            </td>
            <td>
              <a href="/user/blogs/<%= blog._id %>/details"
                ><%= blog.read_count %></a
              >
            </td>
            <td>
              <% for (let tag of blog.tags) { %>
              <a href="/user/blogs/<%= blog._id %>/details"><%= tag %></a>
              <% } %>
            </td>
            <td>
              <a href="/user/blogs/<%= blog._id %>/details"
                ><%= blog.state %></a
              >
            </td>
            <td>
              <a href="/user/blogs/<%= blog._id %>/details"
                ><%= blog.created_at.toISOString().split('T')[0] %></a
              >
            </td>
            <td style="display: flex; gap: 2rem">
              <% if (blog.state === 'draft') { %>
              <form method="post" action="/blogs/<%= blog._id %>/status">
                <button class="delete-btn">
                  <i class="fa-solid fa-paper-plane"></i>
                </button>
              </form>
              <% } %>
              <a href="/user/blogs/<%= blog._id %>">
                <i class="fa-solid fa-edit"></i>
              </a>
              <form method="post" action="/user/blogs/<%= blog._id %>/delete">
                <button class="delete-btn">
                  <span style="color: tomato">
                    <i class="fa-solid fa-trash"></i>
                  </span>
                </button>
              </form>
            </td>
          </tr>
          <% } %>
        </table>
        <div class="page-btns">
          <button class="prevBtn">
            <h3>PREV</h3>
          </button>
          <button class="nextBtn">
            <h3>NEXT</h3>
          </button>
        </div>
      </section>
    </main>
  </body>
</html>

<script>
  const order = document.querySelector('.blog-order');
  const prevBtn = document.querySelector('.prevBtn');
  const nextBtn = document.querySelector('.nextBtn');
  order.addEventListener('change', (e) => {
    e.preventDefault();

    const query = new URLSearchParams(new FormData(order)).toString();

    if (query === 'state=all') {
      window.location.href = '/blogs';
      return;
    }
    window.location.href = `/blogs?${query}`;
  });

  nextBtn.addEventListener('click', (e) => {
    e.preventDefault();

    const query = new URLSearchParams(window.location.search);
    const page = query.get('page');

    if (!page) {
      window.location.href = `/blogs/?page=2`;
      return;
    }

    window.location.href = `/blogs/?page=${parseInt(page) + 1}`;
  });

  // Go to previous page
  prevBtn.addEventListener('click', (e) => {
    e.preventDefault();

    const query = new URLSearchParams(window.location.search);
    const page = query.get('page');

    if (!page) {
      window.location.href = `/blogs/?page=1`;
      return;
    }

    if (page === '1') {
      window.location.href = `/blogs`;
      return;
    }

    window.location.href = `/blogs/?page=${parseInt(page) - 1}`;
  });
</script>
