<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/appHeader.ejs') %>
    <main>
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <% if (user) { %>
        <a href="/blogs" class="blogs--owner">Manage Blogs</a>
        <% } %>

        <form class="blog-order">
          <h1 style="margin-bottom: 1rem">Sort by</h1>
          <div style="display: flex; gap: 1rem">
            <div style="font-size: 1.5rem">
              <input type="radio" name="order" id="date" value="created_at" />
              <label for="date">Created at</label>
            </div>
            <div style="font-size: 1.5rem">
              <input type="radio" name="order" id="count" value="read_count" />
              <label for="count">Read Count</label>
            </div>
            <div style="font-size: 1.5rem">
              <input type="radio" name="order" id="time" value="reading_time" />
              <label for="time">Reading Time</label>
            </div>
          </div>
        </form>
      </div>
      <section class="blogs">
        <table>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Read Count</th>
            <th>Reading Time</th>
            <th>Tags</th>
            <th>Date</th>
          </tr>
          <% if(blogs.length === 0) { %>
          <tr>
            <td colspan="5">No blogs found</td>
          </tr>
          <% } %> <% for (let blog of blogs) { %>
          <tr>
            <td><a href="#"><%= blog.title %></a></td>
            <td>
              <a href="#"><%= blog.author %></a>
            </td>
            <td>
              <a href="#"><%= blog.read_count %></a>
            </td>
            <td>
              <a href="#"><%= blog.reading_time %>mins</a>
            </td>
            <td><a href="#"><%= blog.description %></a></td>
            <td>
              <% for (let tag of blog.tags) { %>
              <a href="#"><%= tag %></a>
              <% } %>
            </td>
            <td>
              <a href="#"><%= blog.created_at.toISOString().split('T')[0] %></a>
            </td>
          </tr>
          <% } %>
        </table>
        <div class="page-btns">
          <button>
            <h3>PREV</h3>
          </button>
          <button>
            <h3>NEXT</h3>
          </button>
        </div>
      </section>
    </main>
  </body>
</html>

<script>
  const order = document.querySelector('.blog-order');
  const radioInput = document.querySelector('input[type=radio]');

  order.addEventListener('change', (e) => {
    const value = e.target.value;
    window.location.href = `/?sort=${value}`;
  });
</script>
